- name: assert variables are set
  assert:
    that:
      - url_path is defined
      - server_name is defined
      - server_port is defined

- name: create dir /etc/nginx/include/
  become: true
  file:
    path: /etc/nginx/include/
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: install nginx config to /etc/nginx/include/
  become: true
  notify: reload_nginx
  template:
    src: "{{ item.src }}"
    dest: /etc/nginx/include/{{ item.target }}.conf
    mode: "0644"
    owner: root
    group: root
  with_items:
    - src: pre-server.conf
      target: pre-server-{{server_name }}.conf
    - src: server-2-5.conf
      target: server-2-5-{{ server_name }}.conf
    - src: server-2-7.conf
      target: server-2-7-{{ server_name }}.conf
