# This docker-compose file depends on './gradlew shadowJar'
#
# Launches all of the background servers used by TripleA.
# The main entrypoint to those services is NGINX which
# is listening on localhost:80
#
services:
  database:
    image: postgres:10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./.docker-compose/database/01-init.sql:/docker-entrypoint-initdb.d/01-init.sql
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: sudo -u postgres pg_isready
      interval: 3s
      retries: 10
      timeout: 3s
  flyway:
    build:
      context: database/
      dockerfile: database/Dockerfile
    command: >
      -locations=filesystem:/flyway/sql
      -connectRetries=60
      -user=lobby_user
      -password=lobby_user
      -url=jdbc:postgresql://database:5432/lobby_db
      -ignoreMigrationPatterns="repeatable:missing"
      migrate
    volumes:
      - ${PWD}/.docker-compose/docker-flyway.config:/flyway/conf/flyway.config
    depends_on:
      - database
  sample-data:
    build:
      context: database/sample_data/
      dockerfile: Dockerfile
    command: >
      -locations=filesystem:/flyway/sql
      -connectRetries=60
      -user=lobby_user
      -password=lobby_user
      -url=jdbc:postgresql://database:5432/lobby_db
      migrate
    depends_on:
      - flyway
  lobby:
    build:
      dockerfile: Dockerfile
    volumes:
      - ./build/libs/lobby-server.jar:/lobby-server.jar
      - ./configuration.yml:/configuration.yml
    environment:
      - DATABASE_USER=lobby_user
      - DATABASE_PASSWORD=lobby_user
      - DB_URL=database:5432/lobby_db
      - SMTP_PORT=25
    ports:
      - "${LOBBY_PORT}:8080"
    depends_on:
      flyway:
         condition: service_completed_successfully
