# For example with defaults:
# https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

[defaults]
host_key_checking = False
forks = 10
serial = 100%
gathering = explicit
stdout_callback = yaml
bin_ansible_callbacks = True
# timeout updates the value of ansible_ssh_timeout, default is 10
timeout = 30

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ControlMaster = auto
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
retries = 10

