# Runs when main branch is updated.
# Runs builds checks, if all passes then packages the lobby and redeploys production.

name: Main Branch Build - Build Docker Container
on:
  push:
    branches:
      - main
jobs:
  build:
    env:
      IS_MAIN_BUILD: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Run Build Checks
        # We skip 'spotlessApply' such that only 'spotlessCheck' will run to validate formatting.
        # This is a good setup for a CI server, meanwhile if a developer runs 'verify', they
        # will have the 'spotlessApply' task run to automatically format the code.
        run: ./verify.sh --exclude-task spotlessApply
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        if: ${{ env.IS_MAIN_BUILD }}
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: docker for database (flyway) migrations
        if: ${{ env.IS_MAIN_BUILD }}
        run: |
          docker build database/sql --tag ghcr.io/triplea-game/lobby/flyway:latest
          docker push ghcr.io/triplea-game/lobby/flyway:latest
      - name: docker for optional database migrations with example seed data
        if: ${{ env.IS_MAIN_BUILD }}
        run: |
          docker build database/sql/sample_data --tag ghcr.io/triplea-game/lobby/sample_data:latest
          docker push ghcr.io/triplea-game/lobby/sample_data:latest
      - name: docker for the java lobby server
        if: ${{ env.IS_MAIN_BUILD }}
        run: |
          docker build . --tag ghcr.io/triplea-game/lobby/server:latest
          docker push ghcr.io/triplea-game/lobby/server:latest
      - name: Load SSH private key into ssh-agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Update production
        run: |
          pip install ansible
          # print ansible version for help debugging
          ansible --version
          cd deploy/
          ANSIBLE_REMOTE_USER=deploy-lobby APPLY=1 ./run.sh
        env:
          TRIPLEA_ANSIBLE_VAULT_PASSWORD: ${{ secrets.TRIPLEA_ANSIBLE_VAULT_PASSWORD }}
